import models from '../db/models'
import * as userService from './user'

export const AUTHORIZATION_CODE = 'example'
export const SECRET = 'verySecretCode123'

const authorize = (query, code) => {
    if(code == AUTHORIZATION_CODE)
    {
        return query
    }
    else {
        { throw new Error('You are not allowed to be here!') }
    }
}

export default authorize